/* Image Slot Hover Actions & Previews */
.upload-slot-active {
  border-color: #006194 !important;
  background-color: #e9edff !important;
}

/* Modal Dialog Scale Animation */
#previewModal.active,
#imageLightboxModal.active {
  opacity: 1;
  pointer-events: auto;
}

#previewModal.active #previewModalDialog {
  transform: scale(1);
}

/* Custom Hide Utility */
.hide-custom {
  display: none !important;
}